<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:wght@100&family=Ropa+Sans:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet">
    <!-- General styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- Unique styles -->
    <link rel="stylesheet" href="../public/css/editForm.styles.css">
    <title>Pollin App - Editar Formulario</title>
</head>
<body>
    <body>
        <div class="container">
            <div class="row justify-content-center">        
                <div class="col col-12 text-center newFormTitle">Editar Formulario</div>
                <div class="col col-sm-12 col-md-12 col-lg-12 contentNewForm">
                    <div class="row d-flx justify-content-end" onclick="addFormSeccion()">
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 addSeccion text-center">
                            <img src="../public/images/icons/addOption.png" alt="">
                            Nueva Sección
                        </div>
                    </div>
                    <form id="newForm">
                        <% let countOptions=0;
                            if(form!=null) {%>
                            <div class="row formHeader">
                                <div class="col-8 mb-3 formTitle">
                                    <input type="text" name="formTitle" class="form-control form-control-lg formTitle" value="<%= form.title %>" placeholder="Titulo del formulario">
                                </div>
                                <div class="col-10 mb-3">
                                    <textarea name="formDescription" class="form-control formDescription" cols="20" rows="5" placeholder="Descripcion del formulario"><%= form.description %></textarea>
                                </div>
                            </div>
                            <div class="row formBody" tSeccions="<%= form.body.length %>">
                                <% for(let indexSeccion = 0; indexSeccion < form.body.length; indexSeccion++){ %>
                                    <div class="col-12 seccion seccion<%= indexSeccion %>" seccion="<%= indexSeccion %>" tOptionsFromSeccion="<%= form.body[indexSeccion].options.length %>" ><!-- Obtenemos el total de opciones de la seccion -->
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="text" name="seccionName" class="form-control seccionName" value="<%= form.body[indexSeccion].seccionName %>" placeholder="Nombre de la seccion">
                                            </div>
                                            <div class="col-11 mb-2">
                                                <textarea name="seccionDescription" class="form-control seccionDescription" cols="20" rows="5" placeholder="Descripcion de la seccion"><%= form.body[indexSeccion].seccionDescription %></textarea>
                                            </div>
                                            <div class="row d-flx justify-content-start btnAddOption" btnSeccion="<%= indexSeccion %>" onclick="addOption(this.getAttribute('btnSeccion'))">
                                                <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-center addOption">
                                                    <img src="../public/images/icons/addOption.png" alt="">
                                                    Nueva Opción
                                                </div>
                                            </div>
                                        </div>
                                        <% for(let indexOption = 0; indexOption < form.body[indexSeccion].options.length; indexOption++){ %>
                                            <div class="col col-sm-12 col-md-12 col-lg-10 col-xl-8 option<%= indexOption %>">
                                                <div class="row option">
                                                    <div class="col col-10 optionHeader">
                                                        <div class="row">
                                                            <div class="col-11">Opción</div>
                                                            <div class="col-1"><img src="../public/images/delete.png" alt="delete"></div>
                                                        </div>
                                                        <input type="text" name="optionName" class="form-control" placeholder="Nombre de la opcion" value="<%= form.body[indexSeccion].options[indexOption].optionName %>">
                                                    </div>
                                                    <div class="col col-6 optionBody">
                                                        <select name="typeOption" class="form-select selectTypeOption" option="<%= indexOption %>" seccion="<%= indexSeccion %>" onChange="chooseTypeOption(this.options[this.selectedIndex].value, this.getAttribute('option'), this.getAttribute('seccion'))">
                                                            <option value="">Selecciona tipo de campo</option>
                                                            <option value="text" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'text')? 'selected':'' %> >Texto</option>
                                                            <option value="email" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'email')? 'selected':'' %> >Email</option>
                                                            <option value="number" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'number')? 'selected':'' %> >Numerico</option>
                                                            <option value="range" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'range')? 'selected':'' %> >Rango</option>
                                                            <option value="radioButton" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'radioButton')? 'selected':'' %> >Radio Buttons</option>
                                                            <option value="selectItems" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'selectItems')? 'selected':'' %> >Items</option>
                                                            <option value="g-rango" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'g-rango')? 'selected':'' %> >General Rango</option>
                                                            <option value="g-radios" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'g-radios')? 'selected':'' %> >General Radio Buttons</option>
                                                            <option value="g-items" <%= (form.body[indexSeccion].options[indexOption].typeOption == 'g-items')? 'selected':'' %> >General Items</option>
                                                        </select>
                                                    </div>
                                                    <div class="col col-9 Answers optionAnswer<%= indexOption %>">
                                                        <% let typeOption= form.body[indexSeccion].options[indexOption].typeOption; 
                                                        if(typeOption=='range' || typeOption=='radioButton' || typeOption=='selectItems'){ %>
                                                            <div class="form-text">Respuestas de esta opción.(Deben seprarse con ";" cada respuesta)</div>
                                                            <textarea name="answersFromOption" class="form-control inputAnswers" cols="20" rows="3" placeholder="respuesta 1; respuesta 2; respuesta 3"><%= form.body[indexSeccion].options[indexOption].answers %></textarea>
                                                        <% } else if(typeOption=='g-rango' || typeOption=='g-radios' || typeOption=='g-items'){ %>
                                                            <div class="form-text">Respuestas de esta opción.(Deben seprarse con ";" cada respuesta)</div>
                                                            <textarea name="answersFromOption" class="form-control inputAnswers" cols="20" rows="3" placeholder="respuesta 1; respuesta 2; respuesta 3"><%= form.body[indexSeccion].options[indexOption].answers %></textarea>
                                                            <div class="form-text">Esta opcion habilitara un campo de texto en el formulario que funcionara como respuesta alternativa a las anteriormente dadas)</div>                                      
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="col col-12 text-center newFormTitle">No hay formulario por mostrar</div>
                        <% } %>
                        <div class="row d-flex justify-content-center">
                            <div class="col-2"><button type="submit" class="btn btn-primary" onclick="saveForm(event, '<%= form._id %>')">Guradar Fomulario</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/editForm.js"></script>
</body>
</html>


<div class="col-12 seccion hide seccionModel">
    <div class="row">
        <div class="col-8">
            <input type="text" name="seccionName" class="form-control seccionName" value="" placeholder="Nombre de la seccion">
        </div>
        <div class="col-11 mb-2">
            <textarea name="seccionDescription" class="form-control seccionDescription" cols="20" rows="5" placeholder="Descripcion de la seccion"></textarea>
        </div>
        <div class="row d-flx justify-content-start btnAddOption" onclick="addOption(this.getAttribute('btnSeccion'))">
            <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-center addOption">
                <img src="../public/images/icons/addOption.png" alt="">
                Nueva Opción
            </div>
        </div>
    </div>
    
</div>

<!-- normal option -->
<div class="col col-sm-12 col-md-12 col-lg-10 col-xl-8 hide optionModel">
    <div class="row option">
        <div class="col col-10 optionHeader">
            <div class="row">
                <div class="col-11">Opción</div>
                <div class="col-1"><img src="../public/images/delete.png" alt="delete"></div>
            </div>
            <input type="text" name="optionName" class="form-control" placeholder="Nombre de la opcion" value="">
        </div>
        <div class="col col-6 optionBody">
            <select name="typeOption" class="form-select selectTypeOption" onChange="chooseTypeOption(this.options[this.selectedIndex].value, this.getAttribute('option'), this.getAttribute('seccion'))">
                <option value="" selected>Selecciona tipo de campo</option>
                <option value="text">Texto</option>
                <option value="email">Email</option>
                <option value="number">Numerico</option>
                <option value="range">Rango</option>
                <option value="radioButton">Radio Buttons</option>
                <option value="selectItems">Items</option>
                <option value="g-rango">General Rango</option>
                <option value="g-radios">General Radio Buttons</option>
                <option value="g-items">General Items</option>
            </select>
        </div>
        <div class="col col-9 Answers">
            
        </div>
    </div>
</div>
